<div class="plans-page">
    <div class="left">
        <h4>ELVÉGZETT NAPI TEENDŐK</h4>
        <ul class="tasks">
            <li *ngFor="let p of completedPlans()" [class.active]="p === plans()[1]">
                <label>
                    <mat-checkbox [ngModel]="p.isCompleted"
                        (change)="this.changePlanStatus(p, $event.checked)"></mat-checkbox>
                    <span class="task-title">{{p.title}}</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="center">
        <h4>HÁTRALEVŐ NAPI TEENDŐK</h4>
        <ul class="tasks">
            <li *ngFor="let p of remainingPlans()" [class.active]="p === plans()[1]">
                <label>
                    <mat-checkbox [ngModel]="p.isCompleted"
                        (change)="this.changePlanStatus(p, $event.checked)"></mat-checkbox>
                    <span class="task-title">{{p.title}}</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="right">
        <h4>Napi motivációs üzenet</h4>
        <p>Kis lépések nagy hatás — ma is tegyél egy apró lépést!</p>
    </div>
</div>