<div class="plans-page">
    <div class="left">
        <h4>ELVÉGZETT NAPI TEENDŐK</h4>
        <ul class="tasks">
            <li *ngFor="let p of completedPlans()" @fadeInOut>
                <div class="task-card">
                    <div class="task-card-checkbox">
                        <mat-checkbox [ngModel]="p.isCompleted"
                            (change)="this.changePlanStatus(p, $event.checked)"></mat-checkbox>
                    </div>
                    <div class="task-card-content">
                        <div class="task-title">{{p.title}}</div>
                        <div class="task-description">{{p.description}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="center">
        <h4>HÁTRALEVŐ NAPI TEENDŐK</h4>
        <ul class="tasks">
            <li *ngFor="let p of remainingPlans()" @fadeInOut>
                <div class="task-card">
                    <div class="task-card-checkbox">
                        <mat-checkbox [ngModel]="p.isCompleted"
                            (change)="this.changePlanStatus(p, $event.checked)"></mat-checkbox>
                    </div>
                    <div class="task-card-content">
                        <div class="task-title">{{p.title}}</div>
                        <div class="task-description">{{p.description}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="right">
        <h4>Napi motivációs üzenet</h4>
        <p>Kis lépések nagy hatás — ma is tegyél egy apró lépést!</p>
    </div>
</div>